-r requirements.txt
argcomplete==2.0.6
cfgv==3.3.1
charset-normalizer==2.1.1
colorama==0.4.6
commitizen==2.42.1
decli==0.5.2
distlib==0.3.6
filelock==3.11.0
identify==2.5.22
Jinja2==3.1.2
MarkupSafe==2.1.2
nodeenv==1.7.0
packaging==23.1
platformdirs==3.2.0
pre-commit==3.2.2
prompt-toolkit==3.0.38
PyYAML==6.0
questionary==1.10.0
termcolor==2.2.0
toml==0.10.2
tomlkit==0.11.7
typing_extensions==4.5.0
virtualenv==20.21.0
wcwidth==0.2.6
pytest==7.3.1
